<?xml version="1.0"?>
<launch>
	<!-- send cob urdf to param server -->
   	<param name="robot_description" command="$(find xacro)/xacro.py '$(find cob_testcar)/urdf/testcar.urdf.xacro'" />

   	<include file="$(find cob_testcar)/launch/laser.launch" />
   	<!--include file="$(find cob_testcar)/launch/kinect.launch" /-->


</launch>

