<launch>

  <arg name="record_pc" default="false" />

  <node pkg="rosbag" type="record" name="rosbag_record" args="-o $(find cob_nav_testdata)/datasets/scan_and_cam /scan_raw /tf /cam3d/rgb/image_color /diagnostics /rosout /cam3d/rgb/camera_info"/>   
  <node pkg="rosbag" type="record" name="rosbag_record_pc" args="-o $(find cob_nav_testdata)/datasets/point_cloud /tf /rosout /cam3d/rgb/depth" if="$(arg record_pc)" />   

</launch>
